PORT=8080
MONGO_URI=mongodb+srv://abosalehlt_db_user:7_RvkParzvUeC_v@abosaleh.yhuwfdt.mongodb.net/saleh-zone?retryWrites=true&w=majority&appName=abosaleh
FRONTEND_URL=https://saleh-zone.up.railway.app
